<!DOCTYPE html>
<html>
<head>
	<title>KLTN</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-6 col-md-4" >
    	<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
</div>
    <div class="col-12 col-md-8" >
    	<embed src="file:///C:/Users/quanv/OneDrive/Desktop/KLTN/invoice2data/hr_phuong.pdf" type="application/pdf" width="700px" height="650px" />
    </div>
  </div>
</body>
</html>